@font-face {
    font-family: 'CirrusCumulus';
    src: url('./fonts/CirrusCumulus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sligoil-Micro';
    src: url('./fonts/Sligoil-Micro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}