@font-face {
    font-family: 'FuturaStd-Book';
    src: url('./fonts/FuturaStd-Book.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStd-Medium';
    src: url('./fonts/FuturaStd-Medium.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}
